@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    background-color: #000000;
}








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Общие стили для страниц */
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* Компоненты на второй странице */
.component {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    text-align: center;
}




.h-phone {
    height: 380px;
}


.mockup-phone {
    display: inline-block;
    border: 4px solid #7051e0;
    border-radius: 30px;
    background-color: #000;
    padding: 10px 10px 20px 10px;
    margin: 0 auto;
    overflow: hidden;
}

